process.container = 'thankgod23/induce_seq'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = false


env.PROJECT_CODE_BASE_SRC_DIR = "/home/tee25/Desktop/assessment/brokenstring/induce_seq_analysis"
env.WORKING_DIR = "${env.PROJECT_CODE_BASE_SRC_DIR}/resources/example_data/"

params {

    absolute_path_to_project_root_dir_source =  "${env.PROJECT_CODE_BASE_SRC_DIR}"
    path_to_output_directory = "${env.WORKING_DIR}/output/"
    path_to_breaks_bed_files = "${env.WORKING_DIR}/input/breaks/"
    path_to_asisi_bed_file = "${env.WORKING_DIR}/input/asisi_sites/chr21_AsiSI_sites.t2t.bed"
    breaks_bed_file_extension = "bed"

}

singularity {

    enabled = false
    runOptions = '-B $WORKING_DIR:$WORKING_DIR -B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/tmp'
    containerOptions = '--memory 16G --size 100G --cpus 9'
    envWhitelist = ['SINGULARITY_TMPDIR']

}

process {
    cpus = 4
    array = 10
}


